<%= form_for do |f| %>
<%= f.text_field %>
<%= f.number_field %>
<%= f.submit %>

 <% end %>



<form action="/tasks" method="patch" >

<input type="text name="task[title]>
<input type="number" name="task[done]">

<input type="submit" value="Create Task">



</form>
